<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/css/styles.css">
<head>

</head>

<div class="container">
    {{>header}}
    <h1>{{location}}</h1>
    <h4>Current Temperature in  {{location}} is  {{temp }}&#176;C .   {{summary }} with  {{precp}}% chances of rain</h4>


    {{>footer}}
</div>
</html>